html {
  font-size: 24px;
  font-family: "Helvetica Neue", Helvetica, Serif;
}

p {
    display: block;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

body {
    position: absolute;
    margin: 0px;
    overflow: hidden;
    top: 0px;
    bottom: 0px;
    width: 100%;
}

.humanAction {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

img {
  width: 200px;
  height: 200px;
  margin: 2rem 0;
}

.mainTing {
  margin: 0rem 12rem;
}

.header {
  margin: 2rem 12rem 1rem 12rem;
}

.header p {
    display: block;
    line-height: 64px;
    font-weight: bold;
}

h1 {
  display: inline-block;
  font-size: 2em;
  margin-block-start: 0rem;
  margin-block-end: 0rem;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

@media (max-width: 480px){
  .mainTing {
  	margin: .5rem 2rem 2rem 2rem;
  }

  .mainTing p {
    font-size: 1.5rem;
  }

  body {
    display: block;
      position: relative;
      overflow: scroll;
      width: 100%;
  }

  .header {
    margin: 2rem;
  }

  .header p {
    font-size: .5rem;
  }
}

@media (min-width: 1800px){
  .mainTing {
    margin: 0rem 28rem;
  }

  .header {
    margin: 2rem 28rem 1rem 28rem;
  }
}
